<%- include ('common/header.ejs') %>

<div class="container marketing pt-5">
    <h1>Bienvenue sur mon site</h1>
    <%- include ('./flash.ejs') %>
    <div class="row pt-5">
        <% characters.forEach(function (character) { %>
            <%- include('character/character.ejs', {character}); %>
        <% }); %>
    </div>
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            <li class="page-item">
                <a class="page-link" href="#" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            <% pages.forEach(function (page) { %>
                <li class="page-item <%= currentPage === page.number ? 'active' : ''%>">
                    <a class="page-link <%%>" href="<%= page.url %>">
                        <%= page.number %>
                    </a>
                </li>
            <% }) %>
            <li class="page-item">
                <a class="page-link" href="#" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>
</div>

<%- include ('common/footer.ejs') %>
